.profile-card {
    border-top: 10px solid red;
    border-bottom: dotted blue;
    border-left: dashed yellow;
    border-right: double green;
    outline: 4px solid black;
    outline-offset: 5px;
    border-radius: 10px;
    height: 300px;
    width: 200px;
}

.profile-button {
    border: 2px solid red;
    border-radius: 15px;
    height: 30px;
    width: 100px;
}
