.container {
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-direction: row-reverse;
}

.box {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
