.container {
    display: flex;
    align-items: flex-start;
    align-items: center;
    align-items: flex-end;
    height: 100vh;
}

.box {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
