span {
    display: block;
}

.span-one {
    background-color: red;
    width: 100px;
    height: 100px;
}

.span-two {
    background-color: green;
    width: 100px;
    height: 100px;
}

.span-three {
    background-color: blue;
    width: 100px;
    height: 100px;
}