.container {
    border: 2px solid black;
    height: 500px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
}

.box {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}