div {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    vertical-align: top;
    height: 150px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
}

.card-one {
    background-image: url("beach.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

.card-two {
    background-color: red;
}

.card-three {
    background-color: green;
}

.card-four {
    background-color: blue; 
}