.background-first-image {
    background-image: url("beach.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}

.background-second-image {
    background-image: url("beach.png");
    background-position: top;
    background-repeat: no-repeat;
    height: 250px;
}

.background-third-image {
    background-image: url("beach.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 250px;
}